openai
python-dotenv
google-search-results
langgraph
langchain-openai
langchain-core
tavily-python
colorama
camel-ai
agentscope
pydantic
shortuuid
json-repair
autogen-ext
autogen-agentchat
scikit-learn
numpy
qdrant-client
neo4j
spacy
transformers
pillow
librosa
torch
gradio
fastapi
uvicorn
httpx
dashscope
sentence-transformers
